@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body {
    background-color: #121213;
    touch-action: manipulation;
}   

#copy {
    vertical-align: center;
}

.invert { filter: invert(100%); }

.doodle {
    position: absolute;
    text-align: center;
    display: inline;

    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;

    transition: all ease 0.2s;
}

@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(1deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, -1px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(1deg); }
}

.doodle2 {
    opacity: 0%;
}

.doodleText {
    color: white;
    /* font-family: 'Handlee', cursive; */
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    opacity: 60%;
    position: inherit;
    cursor: default;
    margin-top: 8px;
    letter-spacing: -1px;
}

sup {
    margin-left: 5px;
    font-size: 15px;
}

.doodleTextVer {
    transform: rotateZ(90deg);
    margin-top: -5px;
    margin-left: 5px;
}

.arrow {
    height: 45px;
    margin-left: 15px;
    margin-right: 5px;
    transform: scaleX(-1);
    margin-top: 20px;
    margin-bottom: 10px;
}

.usableBox {
    background-color: #121213;
    padding: 10px;
    font-size: 30px;
    color: white;
    border: 0px solid #3a3a3c;
    outline: none;
    height: 384px;
    width: 340px;
    resize: none;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: default;
    border-radius: 0px;
    margin: 0.5px;
    user-select: none;
    transition: all ease 0.2s;
    /* overflow: hidden; */
        /* overflow: scroll; */
    overflow-x: hidden;
    
    /* background: -webkit-linear-gradient(#eee, rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    -webkit-mask-image: linear-gradient(180deg, #000 0%, transparent);
}

.txt {
    background-color: #121213;
    padding: 10px;
    font-size: 30px;
    color: white;
    border: 2px solid #3a3a3c;
    outline: none;
    height: 40px;
    width: 40px;
    resize: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0px;
    margin: 0.5px;
    user-select: none;
    transition: all ease 0.2s;
}

#button {
    padding : 10px;
    font-size: 25px;
    border: 2px solid #5cf670;
    transition: all ease 200ms;
    color: #5cf670;
    font-family: 'Ubuntu', sans-serif;
    background-color: #5cf670;
    color: #262626;
    font-family: 'Montserrat', sans-serif;
    height: 64px;
    width: 202px;
}

#button:hover {
    color: white;
    transition: all ease 200ms;
    cursor: pointer;
    box-shadow: 11px 10px 20px 1px rgba(0,0,0,0.67);
}

.container {
    margin: 50px;
}

h1 {
    font-size: 40px;
    text-decoration: none;
    font-weight: 800;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transition: all ease 200ms;
    content: "";
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}

h1:hover {
    color: #5cf670;
}

p {
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

.button {
    vertical-align:middle ;
    display: inline;
    cursor: pointer;
    opacity: 50%;
    transition: all ease 0.2s;
    padding: 5px;
}

img:hover {
    opacity: 100%;
}

#imp {
    color: #5cf670;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.486); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #222222;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius:3px;
  color: white;
}

/* The Close Button */
.close {
  color: rgb(122, 122, 122);
  float: right;
  font-size: 28px;
  font-weight: bold;
    transition: all ease 0.1s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {opacity: 0}
  to {opacity: 1}
}

/* Add Animation */
@keyframes animateoff {
  from {top: -300px; opacity: 1}
  to {top: 0; opacity: 0}
}

@media only screen and (max-device-width: 1240px) {
    body {
        zoom: 2;
    }
    p {
        font-size: 12px;
    }
}

