@media only screen and (min-device-width: 1241px) {

.hidden {
    display: block;
    position:fixed;
    width:50%;
    margin-left: 37%;
    border-radius: 6px;
    margin-top: -10%;
    top: 50%;
    padding: 6px;
  }

  .img1 {
    opacity: 0;
    transition: all ease-in-out 200ms;
    border: 2px dashed rgba(255, 255, 255, 0.397);
  }

  .trigger:hover ~ .img1 {
    opacity: 1;
  }

  @keyframes hide {
    to {
      opacity: 0;
    }
  }

  @keyframes showw {
    0% {
      opacity: 0;
    }

    55% {
      opacity: 0;
    }

    60% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
}