body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #0E0E0E;
    padding-top: 20px;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    text-decoration: none;
    font-weight: 400;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transition: all ease 200ms;
    content:'';
}

a:hover .hid {
  opacity: 1;
  transition: all ease 200ms;
  color: #5CF670;
}

.hid {
  opacity: 0;
  transition: all ease 200ms;
  color: white;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    text-decoration: none;
    font-weight: 300;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transition: all ease 200ms;
}

.one:hover h2 {
  letter-spacing: 1px;
  transition: all ease 200ms;
  cursor: default;
  color: #5CF670;
}

.two:hover h2 {
  letter-spacing: 1px;
  transition: all ease 200ms;
  cursor: default;
  color: #5CF670;
}

.three:hover h2 {
  letter-spacing: 1px;
  transition: all ease 200ms;
  cursor: default;
  color: #5CF670;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-decoration: none;
    font-weight: 300;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transition: all ease 200ms;
    cursor: default;
}

h3:hover {
    color: #5CF670;
    transition: all ease 400ms;
}

a {
    text-decoration: none;
    color: white;
    transition: all ease 200ms;
}

a:hover {
    color: #5CF670;
    transition: all ease 400ms;
}

.linea {
    border-left: 2px solid #B9B9B9;
    margin-left: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
.lineb {
    border-left: 2px solid #5CF670;
    margin-left: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

.null {
    cursor:default;
}

.color {
  color: #5CF670;
  transition: all ease 200ms;
}