@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 20px;
    background-color: #0E0E0E;
    background-image: url('../images/2.svg');
    background-attachment: fixed;
    /* background by SVGBackgrounds.com */
}

@media only screen and (max-device-width: 1240px) {
  body {
    background-size: 300%;
  }
}

@media only screen and (min-device-width: 1241px) {
  body {
    background-size: 100%;
  }
}

.title:hover {
  color: #5CF670;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    text-decoration: none;
    font-weight: 400;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transition: all ease 200ms;
    content:'';
}

h2 {
  font-family:'Quicksand',sans-serif;
  font-size: 40px;
  text-decoration: none;
  font-weight: 300;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transition: all ease 200ms;
}

.one:hover h2 {
letter-spacing: 1px;
transition: all ease 200ms;
cursor: default;
color: #5CF670;
}

.two:hover h2 {
letter-spacing: 1px;
transition: all ease 200ms;
cursor: default;
color: #5CF670;
}

.three:hover h2 {
letter-spacing: 1px;
transition: all ease 200ms;
cursor: default;
color: #5CF670;
}

h3 {
  font-family:'Quicksand',sans-serif;
  font-size: 30px;
  text-decoration: none;
  font-weight: 300;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transition: all ease 200ms;
  cursor: default;

}

h3:hover {
  color: #5CF670;
  transition: all ease 400ms;
}

a {
  text-decoration: none;
  color: white;
  transition: all ease 200ms;
  -webkit-tap-highlight-color: transparent;

}

.hid {
  opacity: 0;
  transition: all ease 200ms;
  color: white;
}

a:hover {
  color: #90fc9f;
  transition: all ease 400ms;
}

a:hover .hid {
  opacity: 1;
  transition: all ease 200ms;
  color: #5CF670;
}

/* LINES */
@media only screen and (min-device-width: 801px) {
  .linea {
    border-left: 2px solid #B9B9B9;
    margin-left: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

.lineb {
    border-left: 2px solid #5CF670;
    margin-left: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-device-width: 800px) {
  .linea {
    border-left: 2px solid #B9B9B9;
    margin-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

.lineb {
    border-left: 2px solid #5CF670;
    margin-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.color {
  color: #5CF670;
  transition: all ease 200ms;
}

/* ICONS */
.icon {
  vertical-align: center;
  position:relative;
  top: 4px;
  transition: all ease 200ms;
  height: 32px;
}

a:hover .icon {
  top: 0px;
  transition: all ease 200ms;
}

#button {
  padding : 10px;
  font-size: 20px;
  border: 2px dashed #5f5f5f;
  transition: all ease 200ms;
  background-color: #4f5d9c4d;
  color: white;
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  right: 30px;
  max-width: 30%;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.5;
}

#button:hover {
  cursor: pointer ;
  background-color: #2a32574d;
  border: 2px dashed #474747;
  color: rgba(255, 255, 255, 0.568);
}

#button:active {
  background-color: #9fbce72d;
}